{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react-hooks",
    "jsx-a11y",
    "import",
    "react",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      },
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "camelcase": "error",
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "eol-last": "error",
    "semi": "error",
    "id-blacklist": [
      "error",
      "any",
      "Number",
      "number",
      "String",
      "string",
      "Boolean",
      "boolean",
      "Undefined"
    ],
    "id-match": "error",
    "import/order": ["error", {
      "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
      "pathGroups": [
        {
          "pattern": "@/**/*.pcss",
          "group": "index"
        },
        {
          "pattern": "@/**",
          "group": "internal"
        }
      ],
      "newlines-between": "always",
      "alphabetize": {
        "order": "asc",
        "caseInsensitive": false
      }
    }],
    "max-len": [
      "error",
      {
        "code": 100,
        "ignorePattern": "\\s*<",
        "ignoreComments": true,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "dot-notation":"off",
    "no-console": "error",
    "no-alert": "error",
    "no-var": "error",
    "no-multiple-empty-lines": "error",
    "no-await-in-loop": "off",
    "prefer-const": "error",
    "prefer-spread": "error",
    "prefer-object-spread": "error",
    "eslint-disable-next-line": "arrow-parens",
    "prefer-destructuring": [
      "error",
      {
        "array": false,
        "object": true
      }
    ],
    "radix": "error",
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
      }
    ],
    "react/jsx-fragments" : ["error", "element"],
    "react/jsx-props-no-spreading": "off",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "spaced-comment": [
      "error",
      "always",
      {
        "markers": [
          "/"
        ]
      }
    ],
    "no-unused-vars" : 2,
    "no-undef" : 2
  }
}
